<div class="my-5 py-5" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-title>Mon compte</mat-card-title>
      <!-- pipe asyn apres un let user Stock la valeur de l'observable dans user
      avantage pipe async pas besoin de géré le unsubscribe destroy fait automatiquement -->
      <mat-card-content *ngIf="currentUser$ | async;let user;" fxLayout="column" fxLayoutGap="20px">
        <div>email : {{ user.email }} </div>
        <div>name : {{ user.name }} </div>
      </mat-card-content>
    </mat-card>
  </div>
